MODE=development

# Server port listening
HTTP_PORT=8080
GRPC_PORT=10002

DB_HOST=
DB_NAME=
DB_PORT=
DB_USER=
DB_PASSWORD=

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=./config/db/migrations

MINIO_HOST=
MINIO_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_MAX_OPEN_CONN=
MINIO_USE_SSL=
MINIO_PUBLIC_URL=

WALLET_ADDRESS=localhost:10001

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VIRTUAL_HOST=
