MODE=development

# Server port listening
HTTP_PORT=8080
GRPC_PORT=10002
JWT_SECRET_KEY=pojq09720ef1ko0f1h9iego2010j20240

DB_HOST=127.0.0.1
DB_NAME=refina_transaction
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:123@localhost:5432/refina_transaction
GOOSE_MIGRATION_DIR=./config/db/migrations

MINIO_HOST=127.0.0.1
MINIO_PORT=9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=M1ft4m1ft4
MINIO_MAX_OPEN_CONN=10
MINIO_USE_SSL=0

WALLET_ADDRESS=localhost:10001

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=123
RABBITMQ_VIRTUAL_HOST=refina